<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252952212665-mn538vhera70tlouroruijtlfjt6j0qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252952212665-mn538vhera70tlouroruijtlfjt6j0qn</string>
	<key>API_KEY</key>
	<string>AIzaSyDUqhZqB2zq8UZu8fBd38fDtkc4465Dl_4</string>
	<key>GCM_SENDER_ID</key>
	<string>252952212665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cashnote.notii</string>
	<key>PROJECT_ID</key>
	<string>noti-i-a6fa0</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-i-a6fa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252952212665:ios:d16b63f5ac9d7f87b05768</string>
</dict>
</plist>