<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>노티아이</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>noti_i</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ispmobile</string>
		<string>kb-acp</string>
		<string>liivbank</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>smshinhancardusim</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>tswansimclick</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>ahnlabv3mobileplus</string>
		<string>cloudpay</string>
		<string>hanamopmoasign</string>
		<string>hanaansim</string>
		<string>hanawalletmembers</string>
		<string>nhappvardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nhappcash-acp</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>wibeetalk</string>
		<string>woorimembers</string>
		<string>PortalCenterWB</string>
		<string>SmartBank2WB</string>
		<string>SmartBank2WIB</string>
		<string>Wooripay</string>
		<string>com.wooricard.wcard://</string>
		<string>NewSmartPib://</string>
		<string>uppay</string>
		<string>mvaccinestart</string>
		<string>citicardapp</string>
		<string>droidx3host</string>
		<string>droidxantivirus</string>
		<string>vguard</string>
		<string>kftc-bankpay</string>
		<string>bankwallet</string>
		<string>kdb-bankpay</string>
		<string>ibk-bankpay</string>
		<string>kb-bankpay</string>
		<string>keb-bankpay</string>
		<string>sh-bankpay</string>
		<string>nhb-bankpay</string>
		<string>nh-bankpay</string>
		<string>wr-bankpay</string>
		<string>sc-bankpay</string>
		<string>s-bankpay</string>
		<string>ct-bankpay</string>
		<string>dg-bankpay</string>
		<string>bnk-bankpay</string>
		<string>kj-bankpay</string>
		<string>jj-bankpay</string>
		<string>jb-bankpay</string>
		<string>kn-bankpay</string>
		<string>kp-bankpay</string>
		<string>cu-bankpay</string>
		<string>mg-bankpay</string>
		<string>kbn-bankpay</string>
		<string>kkb-bankpay</string>
		<string>kakaotalk</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>lmslpay</string>
		<string>shinsegaeeasypayment</string>
		<string>smilepayapp</string>
		<string>supertoss</string>
		<string>kipinapp</string>
		<string>kb-auth</string>
		<string>fb</string>
		<string>itms-apps</string>
		<string>daumapps</string>
		<string>naversearchapp</string>
		<string>googlechromes</string>
		<string>market</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>media</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>bluetooth always</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>bluetooth peripheral</string>
	<key>NSCalendarsUsageDescription</key>
	<string>calendars</string>
	<key>NSCameraUsageDescription</key>
	<string>회원가입시 사업자등록증 첨부를 위한 권한 요청입니다.</string>
	<key>NSContactsUsageDescription</key>
	<string>contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>location</string>
	<key>NSMotionUsageDescription</key>
	<string>motion</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>회원가입시 사업자등록증 첨부를 위한 권한 요청입니다.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>speech</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>music</string>
</dict>
</plist>
